@brand-color: #4455EE;

#header {
  background-color: darken(@brand-color, 10%);
}
#footer {
  background-color: lighten(@brand-color, 10%);
}
h3 {
  color: darken(@brand-color, 20%);
}

body {
  text-align: center;

  .dark {
    background-color: @brand-color;
    border: 3px solid darken(@brand-color, 30%);
  }

  .light {
    background-color: @brand-color;
    border: 3px solid lighten(@brand-color, 30%);
  }

}
