/*
 * Sample.less
 */
@import "variable.less";
/*
 * After Import Statement
 */

// HEADER FOOTER SECTION

#header {
  background-color: darken(@brand-color, 10%);
}
#footer {
  background-color: lighten(@brand-color, 10%);
}
h3 {
  color: darken(@brand-color, 20%);
}

/*
 * BODY SECTION - This Comment stays in Generated CSS
 */
// This comment will not stay in Generated CSS
body {
  text-align: center;

  .dark {
    background-color: darken(@brand-color, 5%);
    border: 3px solid darken(@border-color, 10%);
  }

  .light {
    background-color: lighten(@brand-color, 5%);
    border: 3px solid lighten(@border-color, 10%);
  }

}
